.create-advert{
    margin: 100px 0;
}


.form {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1em;
}

.choose-transport {
    padding: 25px 0 50px 0;
}

.filling button {
    /* margin-right: 1em;
    padding: 12px 24px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center; */
}

.enter-model {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.brand-search-input {
    padding: 20px 0 40px 0;
}

.model-search-input h3,
.year-of-manufacture h3,
.car-body-type h3,
.engine h3,
.wheel-drive h3,
.transmission h3,
.modification h3,
.pick-color h3,
.mileage h3,
.goverment-numbers h3,
.transport-passport h3,
.date-of-purchase h3,
.upload-photo h3,
.description h3,
.contacts h3,
.price h3 {
    padding: 60px 0 20px 0;
}

.type-of-engine {
    display: flex;
}

.pick-color div {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #FABE00;
}

.pick-color .color-button {
    background: none;
    border: none;
    outline: none;
    margin-right: 15px;
}

.pick-color .color-button:hover {
    cursor: pointer;
}

#placeholder_test{
    color: red;
}

/* .pick-color button:focus {
    border-bottom: 3px solid #0275d8;
    border-top: 3px solid #0275d8;
} */

.number {
    width: 600px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goverment-input {
    margin-top: 1em;
}

.trasnport-search {
    padding: 25px 0;
}

.choosing-date {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-column-gap: 1em;
}

.description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 30px;
    color: #78839E;
}

.contacts h4 {
    padding: 10px 0 0 0;
}

.contact-form {
    display: flex;
    align-items: center;
    padding: 20px 0 10px 0;
}

.contact-description {
    margin-left: 1em;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7E8497
}

.checkbox-form p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 2em;
    color: #7E8497;
    padding-bottom: 1em;
}