*{
    font-family: 'Inter', sans-serif;
}

nav{
    background-color: #316BFE;
}

.nav{
    color: #fff;
    padding: 15px 0;
    display: flex !important;
    justify-content: space-between;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    /* margin-block-start: none !important; */
}

a{
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    width: fit-content;
}

.map{
    display: flex;
    align-items: center;
}

.map img{
    margin: 0 5px;
}