.brands {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    color: #262D3F;
}

.brand {
    display: flex;
    justify-content: space-between;
}

.brand-count {
    color: #A7AEBE;
}